.movies {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.logo {
  position: absolute;
  top: 15px;
  left: 35px;
  text-shadow: 2px 2px 3px rgba(255, 159, 255, 0.288);
  font-size: 40px;
  font-weight: 800;
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(
      217deg,
      rgba(255, 136, 56, 0.8),
      rgba(255, 0, 0, 0.116) 70.71%
    ),
    linear-gradient(
      127deg,
      rgba(119, 0, 255, 0.8),
      rgba(98, 0, 255, 0.377) 70.71%
    ),
    linear-gradient(
      336deg,
      rgba(147, 14, 255, 0.8),
      rgba(119, 0, 255, 0.795) 70.71%
    );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
